/* primary: '#f0537e',
accent: '#47c0cd',
secondary: '#f9c01c',
secondary2: '#4C5270',
black: '#0c001d',
white: '#fff8e9', */

:root {
  --primary: #f0537e;
  --accent: #47c0cd;
  --secondary: #f9c01c;
  --secondary2: #4C5270;
  --black: #0c001d;
  --white: #fff8e9';
}

nav {
  background-color: rgba(12,0,29, 0.8) !important;
}

nav > div > a {
  display: none !important;
}

/* //*[@id="root"]/div[2]/div/div/div[1]/div[2] */
div#root > div:nth-child(2) > div > div > div > div:nth-child(2) {
  display: none !important;
}
